*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* Get rid of all font sizes and heights */
}


.container {
  margin: 3rem auto;
  padding: 4rem;
  background-color: #1F2937;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  align-items: right;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;

}

.text-box {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-family: "Inter";
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.green {
  color: #4ADF86;
}

h2 {
  font-size: 1.2rem;
  font-weight: 200;
}

button {
  width: auto;
  padding: 10px;
  height: auto;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #10B981;
  border: 0.5px solid #10B981;
  color: white;
  cursor: pointer;
}

hr {
  width: 100%;
  border: 1px solid #2F3E53;
}

.password-box {
  display: grid;
  height: 2rem;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  font-family: "Inter";

}

.password {
  background-color: #2F3E53;
  border: 1px solid #2F3E53;
  border-radius: 5px;
  text-align: center;
  color: #55F991;
  align-content: center;
}